body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5d7a1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f5d7a1;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.logo img {
    height:50px;
    width:50px;
    object-fit: cover;
    margin-right: 50px;
    border-radius: 100%;  
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

nav a.active {
    color: hwb(36 15% 17%);
}

.search {
    background-color: #dca77e;
    border-radius: 15px;
    color: #f37c0e;
    font-size: 15px;
    cursor: pointer;
}
.search input {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
}
.search img {
    position: relative;
    right: 10px;
    top: 5px;
}
section {
    margin-top: 50px;
}
section h1 {
    text-align: center;
    font-size: 25px;
    margin: auto;
    font-weight: bold;
}
section .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
section .container .gambar img {
    object-fit: cover;
    width: 500px;
    height: 250px;
    border-radius: 25px;
}